body {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10%;
}

#calculator {    
    height: 500px;
    width: 350px;
    border-style: solid;
}

#calculator #head {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height is roughly 1/3 of entire calculator */
    height: 150px;  
    background-color: lightblue;
    text-align: right;
}

#screen {
    height: 50px;
    width: 300px;
    background-color: white;
    border-style: solid;

}

#calculator #body {
    padding:10px;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#button-container button {
    height:35px;
    width: 50px;
    margin: 5px;
}